itemsassetskindsoftware-packageurlhttp://download.octcdn.com/ios/3_1_3/b32_HNZHONGJIANGLC_Installer_en_3_1_3.ipakindfull-size-imageneeds-shineurlhttp://download.octcdn.com/ios/icon-114-20151209.pngkinddisplay-imageneeds-shineurlhttp://download.octcdn.com/ios/icon-114-20151209.pngmetadatabundle-identifiercn.net.shplinkchat.phbundle-version3.1.3kindsoftwaresubtitletaladapptitleAppCola- iapps ios
